@model IEnumerable<QLKhachSan.Models.Nhanvien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NvTendn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NvMatkhau)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NvTendn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NvMatkhau)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NvMa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NvMa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NvMa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
