@model QLKhachSan.Models.Hoadon

@{
    ViewData["Title"] = "Details";
}

<div class="all-content-wrapper">
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <h1>CHI TIẾT HÓA ĐƠN</h1> 
                                <table style = "margin-top:2%" id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th style="width:20%" data-field="id">Mã Hóa Đơn</th>
                                            <th style="width:25%" data-field="date" data-editable="true">Thời Gian Nhận</th>
                                            <th style="width:25%" data-field="date" data-editable="true">Thời Gian Trả</th>
											<th style="width:25%" data-field="price" data-editable="true">Tổng Tiền</th>
											<th style="width:25%" data-field="text" data-editable="true">Khách Hàng</th>
                                            <th style="width:25%" data-field="text" data-editable="true">Nhân Viên</th>
											<th style="width:25%" data-field="text" data-editable="true">Phòng</th>
                                            <th data-field="action"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(model => model.HdMa)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.HdTgnhan)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.HdTgtra)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.HdTongtien)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.KhMaNavigation.KhMa)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.NvMaNavigation.NvMa)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.PMaNavigation.PMa)
                                                </td>
                                                <td>
                                                    <a class="pd-setting-ed" asp-action="Edit" asp-route-id="@Model.HdMa"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> |
                                                    <a asp-action="Index"><i class="fa fa-home adminpro-home-admin" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>