@model IEnumerable<QLKhachSan.Models.Phong>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PSlgiuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PMota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PTrangthai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LpMaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSlgiuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PMota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PTrangthai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LpMaNavigation.LpMa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PMa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PMa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PMa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
