@model QLKhachSan.Models.ChitietGia

@{
    ViewData["Title"] = "Delete";
}

<div class="all-content-wrapper">
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <h1>XÓA CHI TIẾT GIÁ</h1> 
                                <table style = "margin-top:2%" id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th style="width:20%" data-field="id">Mã Chi Tiết Giá</th>
                                            <th style="width:25%" data-field="date" data-editable="true">Áp Dụng Từ Ngày</th>
                                            <th style="width:25%" data-field="date" data-editable="true">Áp Dụng Tới Ngày</th>
											<th style="width:25%" data-field="text" data-editable="true">Loại Phòng</th>
											<th style="width:25%" data-field="price" data-editable="true">Giá Phòng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(model => model.CtgMa)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.CtgTgapdungTungay)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.CtgTgapdungDenngay)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.GpMaNavigation.GpMa)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.LpMaNavigation.LpMa)
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
                                <form style = "margin-top:2%"asp-action="Delete">
                                    <input type="hidden" asp-for="CtgMa" />
                                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                                    <a asp-action="Index"><i class="fa fa-home adminpro-home-admin" aria-hidden="true"></i></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>