@model IEnumerable<QLKhachSan.Models.ChitietGia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CtgTgapdungTungay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CtgTgapdungDenngay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GpMaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LpMaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CtgTgapdungTungay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CtgTgapdungDenngay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpMaNavigation.GpMa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LpMaNavigation.LpMa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CtgMa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CtgMa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CtgMa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
