@model IEnumerable<QLKhachSan.Models.Giaphong>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GpTheongay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GpTheotuan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GpTheothang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GpQuadem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GpTheongay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpTheotuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpTheothang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpQuadem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GpMa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GpMa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GpMa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
