@model QLKhachSan.Models.Trangbi

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trangbi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TbTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TbTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TbMota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TbMota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PMaNavigation.PMa)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TbMa" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
