@model IEnumerable<QLKhachSan.Models.Trangbi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TbTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TbMota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PMaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TbTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TbMota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PMaNavigation.PMa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TbMa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TbMa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TbMa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
